@media (max-width: 480px) {
  html {
    max-width: 100%;
  }

  header .content {
    padding: 30px 0;
  }

  img {
    width: 75px;
  }

  .title h1 {
    font-size: 1.5em;
  }

  @keyframes moveSlideshow {
    100% {
      transform: translateX(-300%);
    }
  }

  section {
    .sub-header {
      padding: 0 12%;
    }
    .bike-images {
      display: flex;
      height: 250px;
      img {
        width: 100%;
        &:last-child {
          display:block;
        }
        animation: moveSlideshow 12s linear infinite;
      }
    }
    .sub-image-text {
      display: none;
    }
    .contact {
      padding: 30px 10px 10px 10px;
      p {
        font-size: 6.5vw;
        font-weight: bold;
      }
      p:first-child {
        font-size: 5vw;
        font-weight: normal;
      }
    }
  }

  footer p {
    text-align: center;
    line-height: 50px;
  }
}
